In [1]:
import pandas as pd

In [2]:
house = pd.read_csv('data/table/table_for_model(date+floor).csv')

In [4]:
house.isna().sum()

id                     0
section                0
parking_space          0
construction_time      0
trade_time             0
age                    0
unit_price_ping        0
area                   0
trasaction_floor     116
total_floor           43
floor                  0
type                   0
room                   0
lr                     0
bath                   0
partition              0
mgmt                   0
min_inci               0
min_hos                0
min_mrt                0
min_mart               0
min_gas                0
min_school             0
min_park               0
yearMonth              0
dtype: int64

In [11]:
house.yearMonth.str.split('-')

0         [101, 11]
1         [102, 02]
2         [103, 12]
3         [102, 05]
4         [102, 03]
            ...
225900    [109, 05]
225901    [103, 03]
225902    [101, 08]
225903    [105, 11]
225904    [102, 12]
Name: yearMonth, Length: 225905, dtype: object

In [ ]:
for i in range(len(house)) :