In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cleaned_model_table.csv', encoding = 'ANSI')
data.head()

,id,section,addr,lon,lat,parking_space,construction_time,trade_time,age,unit_price_ping,...,partition,mgmt,purpose,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park
0,2,1,新北市八里區商港路16號2樓,121.396911,25.144805,0,820504,1011122,19,115937.7118,...,有,1,住家用,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275
1,3,1,新北市八里區龍米路１段448號24樓,121.451042,25.134357,1,850923,1020204,17,234202.7068,...,有,1,住家用,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684
2,6,1,新北市八里區下罟子54之18號2樓,121.388403,25.140149,0,700820,1031209,33,103878.1534,...,有,0,住家用,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919
3,7,1,新北市八里區下罟子５７之２１號,121.387536,25.137374,0,690325,1040913,35,110000.4950,...,有,0,住家用,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620
4,8,1,新北市八里區下罟子５７之２３號,121.387534,25.137271,0,690325,1090923,40,99940.9456,...,有,0,住家用,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951

In [3]:
data.shape

(233922, 28)

In [4]:
data.purpose.value_counts()

住家用        233417
國民住宅          431
住宅             39
社區住宅           34
住宅，集合住宅         1
Name: purpose, dtype: int64

In [5]:
general_model_full = data.drop(columns = {'lon', 'lat', 'addr'})

In [7]:
general_model_full.columns

Index(['id', 'section', 'parking_space', 'construction_time', 'trade_time',
       'age', 'unit_price_ping', 'area', 'trasaction_floor', 'total_floor',
       'floor', 'type', 'room', 'lr', 'bath', 'partition', 'mgmt', 'purpose',
       'min_inci', 'min_hos', 'min_mrt', 'min_mart', 'min_gas', 'min_school',
       'min_park'],
      dtype='object')

In [16]:
general_model_full['yearMonth'] = ""

In [14]:
general_model_full.trade_time = general_model_full.trade_time.astype(str)

In [30]:
for i in range(len(general_model_full)) :
    if len(general_model_full.trade_time[i]) == 7:
        general_model_full.yearMonth[i] = general_model_full.trade_time[i][0:3]+'-'+general_model_full.trade_time[i][3:5]
    else :
        general_model_full.yearMonth[i] = general_model_full.trade_time[i][0:2]+'-'+general_model_full.trade_time[i][2:4]

<ipython-input-30-e76b18a7906d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_model_full.yearMonth[i] = general_model_full.trade_time[i][0:3]+'-'+general_model_full.trade_time[i][3:5]
<ipython-input-30-e76b18a7906d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_model_full.yearMonth[i] = general_model_full.trade_time[i][0:2]+'-'+general_model_full.trade_time[i][2:4]

In [31]:
general_model_full.yearMonth

0         101-11
1         102-02
2         103-12
3         104-09
4         109-09
           ...
233917    104-07
233918    110-03
233919    109-06
233920    102-08
233921    102-06
Name: yearMonth, Length: 233922, dtype: object

In [38]:
general_model_full.to_csv('general_model_full.csv', index = False, encoding = 'utf-8')

In [57]:
data = pd.read_csv('general_model_full.csv')
data.head()

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,mgmt,purpose,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,住家用,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,住家用,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,0,住家用,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,0,住家用,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,0,住家用,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09

In [60]:
data.columns

Index(['id', 'section', 'parking_space', 'construction_time', 'trade_time',
       'age', 'unit_price_ping', 'area', 'trasaction_floor', 'total_floor',
       'floor', 'type', 'room', 'lr', 'bath', 'partition', 'mgmt', 'purpose',
       'min_inci', 'min_hos', 'min_mrt', 'min_mart', 'min_gas', 'min_school',
       'min_park', 'yearMonth'],
      dtype='object')

In [61]:
data = data.drop('purpose', axis = 1)

In [62]:
data.partition = data.partition.map({'有': 1, '無': 0})

In [63]:
data.type.unique()

array(['住宅大樓(11層含以上有電梯)', '公寓(5樓含以下無電梯)', '透天厝', '華廈(10層含以下有電梯)',
       '套房(1房1廳1衛)', '其他'], dtype=object)

In [64]:
data.type = data.type.map({'住宅大樓(11層含以上有電梯)': 0, '公寓(5樓含以下無電梯)': 1, '透天厝': 2, '華廈(10層含以下有電梯)': 3, '套房(1房1廳1衛)': 4, '其他': 5 })

In [65]:
data.type.unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [67]:
data.to_csv('general_model_full.csv', index = False, encoding = 'utf-8')

#### filter其他

In [2]:
import pandas as pd

In [3]:
withoutOthers = pd.read_csv('general_model_full.csv')

In [6]:
withoutOthers.type.unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [12]:
withoutOthers = withoutOthers[withoutOthers['type'] != 5]

In [14]:
withoutOthers.to_csv('general_model_full.csv', index = False, encoding = 'utf-8')